version: "3"

services:
  proxy:
    build: ./nginx
    image: perfectacle/node-nginx
    container_name: node-hello-proxy
    ports:
      - "8000:80"
    depends_on:
      - app-a
      - app-b
  app-a:
    build: ./app
    image: perfectacle/node
    container_name: node-hello-a
    ports:
      - "9000:3000"
  app-b:
    build: ./app
    image: perfectacle/node
    container_name: node-hello-b
    ports:
      - "9001:3000"